/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--empty-slider-bar);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -1rem; /* Centers thumb on the track */

  /*custom styles*/
  background-color: var(--slider-backround);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 2rem;
  background-image: url(../assets/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0rem 1rem 1rem var(--full-slider-bar);
  z-index: 2;
}
input[type="range"]:hover::-webkit-slider-thumb {
  filter: brightness(110%);
}
input[type="range"]:hover::-moz-range-thumb {
  filter: brightness(110%);
}
input[type="range"]:focus::-webkit-slider-thumb {
  filter: brightness(80%);
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--empty-slider-bar);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  position: relative;
  background-color: var(--slider-backround);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 2rem; /* need it too*/
  border: none; /*Removes extra border that FF applies*/
  z-index: 2;
}

input[type="range"]:focus::-moz-range-thumb {
  filter: brightness(80%);
}
input[type="range"] {
  margin: 32px auto;
}

.viewsGot {
  background-color: var(--full-slider-bar);

  height: 0.5rem;
  border-radius: 2rem;
  position: relative;
  top: calc(-32px - 0.5rem);
  z-index: 1;
}
