body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800; /*Use a value from 200 to 800*/
  background-color: var(--body);
}
main {
  position: relative;
  display: grid;
  background-color: var(--main);
  width: 91.5%;
  margin: 120px auto auto;
  border-radius: 0.7em;
  padding: 40px 24px 0px 24px;
  text-align: center;
  max-width: 540px;
  min-height: 320px;
}
.loading {
  display: block;
  margin-top: 60px;
}
h1 {
  display: block;
  color: var(--main-text);
  font-size: 5.2vw;
  padding-bottom: 116px;
  animation-name: adviceappearence;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes adviceappearence {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
h2 {
  color: var(--button-and-h2);
  text-transform: uppercase;
  font-size: 3.2vw;
  letter-spacing: 3px;
  margin-bottom: 24px;
}

button {
  position: absolute;
  bottom: -32px;
  left: calc(50% - 32px);
  display: grid;
  justify-items: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: var(--button-and-h2);
  border: 0;
  border-radius: 50%;
  z-index: 2;
  /* background-image: url(./assets/icon-dice.svg);
  background-repeat: no-repeat;
  background-position: center;*/
}
button:hover {
  box-shadow: 0 0 24px var(--button-and-h2);
}
button:focus {
  border: 0;
}
.dice {
  cursor: pointer;
  /* transition: all 2s;*/
}
.rotateDice {
  /* transform: rotate(-360deg); */
  -webkit-animation-name: rotatedice; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: rotatedice;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@-webkit-keyframes rotatedice {
  0% {
    -webkit-transform: rotate(0deg); /* Safari 4.0 - 8.0 */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Safari 4.0 - 8.0 */
  }
}

@keyframes rotatedice {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.disableButton {
  /* background-color: hsl(170, 100%, 66%);
}*/
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgb(255, 255, 255) 0%,
    rgb(253, 255, 129) 21.50000035762787%,
    rgb(253, 188, 114) 46.50000035762787%,
    rgb(251, 138, 138) 72.00000286102295%,
    rgb(179, 144, 254) 100%
  );
  animation: disabledbutton 2s ease infinite;
  background-size: 400% 400%;
  box-shadow: 0 0 24px rgb(255, 255, 255);
}
@keyframes disabledbutton {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 0 24px rgb(255, 255, 255);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 0 24px rgb(253, 255, 129);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 0 24px rgb(251, 138, 138);
  }
}

.divider {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 48px);
  height: 100px;
  background-image: url(./assets/pattern-divider-mobile.svg);
  background-repeat: no-repeat;
  background-position: top 16px center;
  background-size: 100% auto;
  justify-self: center;
}

@media only screen and (min-width: 390px) {
  .divider {
    background-image: url(./assets/pattern-divider-desktop.svg);
  }
}
@media only screen and (min-width: 520px) {
  body {
    display: grid;
    min-height: 100vh;
    align-items: center;
  }
  main {
    padding: 48px 40px 0px 40px;
    min-height: 400px;
    margin: auto;
  }
  .loading {
    margin-top: 100px;
  }
  h1 {
    font-size: 1.6rem;
    padding-bottom: 144px;
  }
  h2 {
    font-size: 1rem;
  }
  .divider {
    height: 128px;
    background-position: top 36px center;
    width: calc(100% - 80px);
  }
}
